{
  "openapi": "3.0.3",
  "info": {
    "title": "DexBuilder Event Contracts API",
    "version": "1.0.0",
    "description": "DexBuilder 事件合约 REST API"
  },
  "servers": [
    {
      "url": "https://api.dexbuilder.com"
    }
  ],
  "paths": {
    "/api/v4/event_contracts/events": {
      "get": {
        "summary": "查询事件列表",
        "description": "查询事件列表",
        "operationId": "query_events",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsPage"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/events/{event_id}": {
      "get": {
        "summary": "查询事件详情",
        "description": "查询事件详情",
        "operationId": "query_event",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/events/slug/{slug}": {
      "get": {
        "summary": "按 Slug 查询事件",
        "description": "按 Slug 查询事件",
        "operationId": "query_event_by_slug",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets": {
      "get": {
        "summary": "查询市场列表",
        "description": "查询市场列表",
        "operationId": "query_markets",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsPage"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/{market_id}": {
      "get": {
        "summary": "查询市场详情",
        "description": "查询市场详情",
        "operationId": "query_market",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/slug/{slug}": {
      "get": {
        "summary": "按 Slug 查询市场",
        "description": "按 Slug 查询市场",
        "operationId": "query_market_by_slug",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/{market_id}/trades": {
      "get": {
        "summary": "查询市场成交记录",
        "description": "查询市场成交记录",
        "operationId": "query_market_trades",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesPage"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/market": {
      "get": {
        "summary": "查询 Token 对应市场",
        "description": "查询 Token 对应市场",
        "operationId": "query_token_market",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSummary"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/price": {
      "get": {
        "summary": "查询 Token 最新价格",
        "description": "查询 Token 最新价格",
        "operationId": "query_token_price",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/ticker": {
      "get": {
        "summary": "查询 Token Ticker",
        "description": "查询 Token Ticker",
        "operationId": "query_token_ticker",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenTickerResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/order_book": {
      "get": {
        "summary": "查询订单簿",
        "description": "查询订单簿",
        "operationId": "query_order_book",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/price_history": {
      "get": {
        "summary": "查询价格历史",
        "description": "查询价格历史",
        "operationId": "query_price_history",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPriceHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/prices": {
      "get": {
        "summary": "批量查询 Token 价格",
        "description": "批量查询 Token 价格",
        "operationId": "query_token_prices",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{currency}/candlesticks": {
      "get": {
        "summary": "查询 K 线",
        "description": "查询 K 线",
        "operationId": "query_candlesticks",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyCandlestickList"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/orders": {
      "post": {
        "summary": "提交订单",
        "description": "提交订单",
        "operationId": "place_order",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token_id",
                  "side"
                ],
                "properties": {
                  "token_id": {
                    "type": "string"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ]
                  },
                  "price": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "total_cost": {
                    "type": "string"
                  },
                  "order_type": {
                    "type": "string"
                  },
                  "order_mode": {
                    "type": "string"
                  },
                  "client_order_id": {
                    "type": "string"
                  },
                  "post_only": {
                    "type": "boolean"
                  },
                  "sell_all": {
                    "type": "boolean"
                  },
                  "expire_time": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "查询订单列表",
        "description": "查询订单列表",
        "operationId": "query_orders",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventContractOrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "summary": "按市场条件批量撤单",
        "description": "按市场条件批量撤单",
        "operationId": "cancel_orders_by_condition",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBatchAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/orders/{order_id}": {
      "get": {
        "summary": "查询单个订单",
        "description": "查询单个订单",
        "operationId": "query_order",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "取消单个订单",
        "description": "取消单个订单",
        "operationId": "cancel_order",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/positions": {
      "get": {
        "summary": "查询持仓列表",
        "description": "查询持仓列表",
        "operationId": "query_positions",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventContractPositionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settlement_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/usertrades": {
      "get": {
        "summary": "查询个人成交",
        "description": "查询个人成交",
        "operationId": "query_user_trades",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventContractUserTradesResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/assets": {
      "get": {
        "summary": "查询账户资产",
        "description": "查询账户资产",
        "operationId": "query_assets",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/event_contracts/account_book": {
      "get": {
        "summary": "查询资金流水",
        "description": "查询资金流水",
        "operationId": "query_account_book",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMarketsAccountBookResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tags": {
      "get": {
        "summary": "查询标签",
        "description": "查询标签",
        "operationId": "query_tags",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsPage"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/time": {
      "get": {
        "summary": "查询服务器时间",
        "description": "查询服务器时间",
        "operationId": "query_server_time",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/event_contracts/events/price_to_beat_final_price/{slug}": {
      "get": {
        "summary": "查询事件窗口目标价与最终价",
        "description": "查询事件窗口的目标价与最终价。",
        "operationId": "query_event_reference_price",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReferencePrice"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "事件不存在或参考价格不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/positions/settled": {
      "get": {
        "summary": "查询已结算持仓",
        "description": "查询已结算的事件合约持仓。",
        "operationId": "query_settled_positions",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventContractPositionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/balance": {
      "get": {
        "summary": "查询账户余额",
        "description": "查询当前用户的事件合约账户余额。",
        "operationId": "query_balance",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResp"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/event_contracts/fund_flows": {
      "get": {
        "summary": "查询资金流水",
        "description": "查询当前用户资金流水，支持类型、时间范围和游标分页。",
        "operationId": "query_fund_flows",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventContractFundFlowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/fee/current": {
      "get": {
        "summary": "查询当前手续费",
        "description": "查询当前手续费配置。",
        "operationId": "query_current_fee",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeResp"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fee_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/transfer": {
      "post": {
        "summary": "事件合约转账",
        "description": "在现货账户与事件合约子账户之间发起 USDT 划转。",
        "operationId": "transfer",
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferData"
                }
              }
            }
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "服务暂时不可用",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_account",
                  "to_account",
                  "currency",
                  "amount",
                  "client_oid"
                ],
                "properties": {
                  "from_account": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "sub_spot",
                      "event_contract"
                    ]
                  },
                  "to_account": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "sub_spot",
                      "event_contract"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USDT"
                    ]
                  },
                  "amount": {
                    "type": "string"
                  },
                  "client_oid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "description": "错误响应。",
        "properties": {
          "label": {
            "type": "string",
            "example": "INVALID_ARGUMENT"
          },
          "message": {
            "type": "string",
            "example": "invalid request"
          }
        }
      },
      "CurrencyCandlestick": {
        "type": "object",
        "properties": {
          "c": {
            "type": "string"
          },
          "h": {
            "type": "string"
          },
          "l": {
            "type": "string"
          },
          "o": {
            "type": "string"
          },
          "t": {
            "type": "integer"
          },
          "v": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventDetail": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closed_time": {
            "type": "integer"
          },
          "description": {
            "type": "object"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketSummary"
            }
          },
          "markets_has_more": {
            "type": "boolean"
          },
          "resolution_source": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "start_time": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "title": {
            "type": "object"
          },
          "volume": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventSummary": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closed_time": {
            "type": "integer"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "start_time": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "title": {
            "type": "object"
          },
          "volume": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventsPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "MarketDetail": {
        "type": "object",
        "properties": {
          "accepting_orders": {
            "type": "boolean"
          },
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "condition_id": {
            "type": "string"
          },
          "description": {
            "type": "object"
          },
          "enable_order_book": {
            "type": "boolean"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "limit_buy_min_shares": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "min_order_size": {
            "type": "string"
          },
          "neg_risk": {
            "type": "boolean"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutcomeRef"
            }
          },
          "question": {
            "type": "object"
          },
          "resolution_source": {
            "type": "string"
          },
          "resolved_at": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "tick_size": {
            "type": "string"
          },
          "uma_end_date": {
            "type": "string",
            "x-nullable": true
          },
          "uma_end_date_iso": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_status": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_statuses": {
            "type": "string",
            "x-nullable": true
          },
          "volume": {
            "type": "string"
          },
          "volume_24hr": {
            "type": "string"
          },
          "winning_outcome": {
            "type": "string"
          },
          "winning_token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "MarketSummary": {
        "type": "object",
        "properties": {
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "condition_id": {
            "type": "string"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "limit_buy_min_shares": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutcomeRef"
            }
          },
          "question": {
            "type": "object"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "uma_end_date": {
            "type": "string",
            "x-nullable": true
          },
          "uma_end_date_iso": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_status": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_statuses": {
            "type": "string",
            "x-nullable": true
          },
          "volume": {
            "type": "string"
          },
          "volume_24hr": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "MarketsPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "OrderBookResponse": {
        "type": "object",
        "properties": {
          "asks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderBookLevel"
            }
          },
          "bids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderBookLevel"
            }
          },
          "condition_id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "min_order_size": {
            "type": "string"
          },
          "neg_risk": {
            "type": "boolean"
          },
          "tick_size": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "OutcomeRef": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "object"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "ServerTimeResponse": {
        "type": "object",
        "properties": {
          "server_time": {
            "type": "integer"
          }
        },
        "description": "响应对象。"
      },
      "TagSummary": {
        "type": "object",
        "properties": {
          "label": {
            "type": "object"
          },
          "slug": {
            "type": "string"
          },
          "tag_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TagsPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TokenBatchPriceItem": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TokenPriceHistoryResponse": {
        "type": "object",
        "properties": {
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenPricePoint"
            }
          }
        },
        "description": "响应对象。"
      },
      "TokenPriceResponse": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TokenPricesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenBatchPriceItem"
            }
          }
        },
        "description": "响应对象。"
      },
      "TokenTickerResponse": {
        "type": "object",
        "properties": {
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "last_price": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "Trade": {
        "type": "object",
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          },
          "trade_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TradesPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trade"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "OrderBookLevel": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "size": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "TokenPricePoint": {
        "type": "object",
        "properties": {
          "p": {
            "type": "string"
          },
          "t": {
            "type": "integer"
          }
        },
        "description": "响应对象。"
      },
      "BalanceResp": {
        "type": "object",
        "properties": {
          "available": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "locked": {
            "type": "string"
          },
          "total": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "CancelBatchAcceptResp": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          }
        },
        "description": "响应对象。"
      },
      "CancelOrderAcceptResp": {
        "type": "object",
        "properties": {
          "cancel_status": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "FeeQueryItem": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "fee_mode": {
            "type": "string"
          },
          "maker_fee_rate": {
            "type": "string"
          },
          "taker_fee_rate": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "FeeResp": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeeQueryItem"
            }
          }
        },
        "description": "响应对象。"
      },
      "FundFlowItem": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "record_type": {
            "type": "string"
          },
          "related_order_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "OrderDetailResp": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "error_code": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "expire_time": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "order_mode": {
            "type": "string"
          },
          "order_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "size_left": {
            "type": "string"
          },
          "size_matched": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          }
        },
        "description": "响应对象。"
      },
      "OrderListItem": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "error_code": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "expire_time": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "order_mode": {
            "type": "string"
          },
          "order_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "size_left": {
            "type": "string"
          },
          "size_matched": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          }
        },
        "description": "响应对象。"
      },
      "PlaceOrderAcceptResp": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "PositionItem": {
        "type": "object",
        "properties": {
          "available_size": {
            "type": "string"
          },
          "avg_open_price": {
            "type": "string"
          },
          "claimable_amount": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "locked_size": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "position_value": {
            "type": "string"
          },
          "settlement_status": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          },
          "won": {
            "type": "boolean"
          }
        },
        "description": "响应对象。"
      },
      "TransferData": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "example": "1.2"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USDT"
            ],
            "example": "USDT"
          },
          "from_account": {
            "type": "string",
            "enum": [
              "spot",
              "sub_spot"
            ],
            "example": "spot"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS"
            ],
            "example": "SUCCESS"
          },
          "to_account": {
            "type": "string",
            "enum": [
              "spot",
              "sub_spot"
            ],
            "example": "sub_spot"
          },
          "transfer_id": {
            "type": "string",
            "example": "123"
          }
        },
        "description": "响应对象。"
      },
      "UserTradeItem": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "fee_rate": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "AccountBookItem": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "related_order_id": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "AssetsResp": {
        "type": "object",
        "properties": {
          "daily_pnl": {
            "type": "string"
          },
          "daily_pnl_rate": {
            "type": "string"
          },
          "fund_total": {
            "type": "string"
          },
          "prediction_market_asset": {
            "type": "string"
          },
          "prediction_position_value": {
            "type": "string"
          },
          "spot_usdt_balance": {
            "type": "string"
          },
          "unclaimed_amount": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventContractFundFlowsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FundFlowItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventContractOrderListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderListItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventContractPositionListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventContractUserTradesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserTradeItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventMarketsAccountBookResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountBookItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "响应对象。"
      },
      "EventReferencePrice": {
        "type": "object",
        "properties": {
          "final_price": {
            "type": "string"
          },
          "price_to_beat": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_ready",
              "unsupported"
            ]
          }
        },
        "description": "响应对象。"
      },
      "CurrencyCandlestickList": {
        "type": "array",
        "description": "列表响应。",
        "items": {
          "$ref": "#/components/schemas/CurrencyCandlestick"
        }
      }
    }
  }
}
