{
  "openapi": "3.0.3",
  "info": {
    "title": "DexBuilder Event Contracts API",
    "version": "1.0.0",
    "description": "DexBuilder 事件合約 REST API"
  },
  "servers": [
    {
      "url": "https://api.dexbuilder.com"
    }
  ],
  "paths": {
    "/api/v4/event_contracts/events": {
      "get": {
        "summary": "查詢事件清單",
        "description": "查詢事件清單",
        "operationId": "query_events",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/events/{event_id}": {
      "get": {
        "summary": "查詢事件詳情",
        "description": "查詢事件詳情",
        "operationId": "query_event",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/events/slug/{slug}": {
      "get": {
        "summary": "按 Slug 查詢事件",
        "description": "按 Slug 查詢事件",
        "operationId": "query_event_by_slug",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets": {
      "get": {
        "summary": "查詢市場清單",
        "description": "查詢市場清單",
        "operationId": "query_markets",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/{market_id}": {
      "get": {
        "summary": "查詢市場詳情",
        "description": "查詢市場詳情",
        "operationId": "query_market",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/slug/{slug}": {
      "get": {
        "summary": "按 Slug 查詢市場",
        "description": "按 Slug 查詢市場",
        "operationId": "query_market_by_slug",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/markets/{market_id}/trades": {
      "get": {
        "summary": "查詢市場成交記錄",
        "description": "查詢市場成交記錄",
        "operationId": "query_market_trades",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/market": {
      "get": {
        "summary": "查詢 Token 對應市場",
        "description": "查詢 Token 對應市場",
        "operationId": "query_token_market",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/price": {
      "get": {
        "summary": "查詢 Token 最新價格",
        "description": "查詢 Token 最新價格",
        "operationId": "query_token_price",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/ticker": {
      "get": {
        "summary": "查詢 Token Ticker",
        "description": "查詢 Token Ticker",
        "operationId": "query_token_ticker",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/order_book": {
      "get": {
        "summary": "查詢訂單簿",
        "description": "查詢訂單簿",
        "operationId": "query_order_book",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{token_id}/price_history": {
      "get": {
        "summary": "查詢價格歷史",
        "description": "查詢價格歷史",
        "operationId": "query_price_history",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/prices": {
      "get": {
        "summary": "批量查詢 Token 價格",
        "description": "批量查詢 Token 價格",
        "operationId": "query_token_prices",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "token_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tokens/{currency}/candlesticks": {
      "get": {
        "summary": "查詢 K 線",
        "description": "查詢 K 線",
        "operationId": "query_candlesticks",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/orders": {
      "post": {
        "summary": "提交訂單",
        "description": "提交訂單",
        "operationId": "place_order",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token_id",
                  "side"
                ],
                "properties": {
                  "token_id": {
                    "type": "string"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ]
                  },
                  "price": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "total_cost": {
                    "type": "string"
                  },
                  "order_type": {
                    "type": "string"
                  },
                  "order_mode": {
                    "type": "string"
                  },
                  "client_order_id": {
                    "type": "string"
                  },
                  "post_only": {
                    "type": "boolean"
                  },
                  "sell_all": {
                    "type": "boolean"
                  },
                  "expire_time": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "查詢訂單清單",
        "description": "查詢訂單清單",
        "operationId": "query_orders",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "summary": "按市場條件批量撤單",
        "description": "按市場條件批量撤單",
        "operationId": "cancel_orders_by_condition",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/orders/{order_id}": {
      "get": {
        "summary": "查詢單個訂單",
        "description": "查詢單個訂單",
        "operationId": "query_order",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "取消單個訂單",
        "description": "取消單個訂單",
        "operationId": "cancel_order",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/positions": {
      "get": {
        "summary": "查詢持倉清單",
        "description": "查詢持倉清單",
        "operationId": "query_positions",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settlement_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/usertrades": {
      "get": {
        "summary": "查詢個人成交",
        "description": "查詢個人成交",
        "operationId": "query_user_trades",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/assets": {
      "get": {
        "summary": "查詢帳戶資產",
        "description": "查詢帳戶資產",
        "operationId": "query_assets",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        }
      }
    },
    "/api/v4/event_contracts/account_book": {
      "get": {
        "summary": "查詢資金流水",
        "description": "查詢資金流水",
        "operationId": "query_account_book",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/tags": {
      "get": {
        "summary": "查詢標籤",
        "description": "查詢標籤",
        "operationId": "query_tags",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/time": {
      "get": {
        "summary": "查詢伺服器時間",
        "description": "查詢伺服器時間",
        "operationId": "query_server_time",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        }
      }
    },
    "/api/v4/event_contracts/events/price_to_beat_final_price/{slug}": {
      "get": {
        "summary": "查詢事件窗口目標價與最終價",
        "description": "查詢事件窗口的目標價與最終價。",
        "operationId": "query_event_reference_price",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "404": {
            "description": "事件不存在或參考價格不可用"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/positions/settled": {
      "get": {
        "summary": "查詢已結算持倉",
        "description": "查詢已結算的事件合約持倉。",
        "operationId": "query_settled_positions",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/balance": {
      "get": {
        "summary": "查詢帳戶餘額",
        "description": "查詢目前使用者的事件合約帳戶餘額。",
        "operationId": "query_balance",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "401": {
            "description": "驗證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        }
      }
    },
    "/api/v4/event_contracts/fund_flows": {
      "get": {
        "summary": "查詢資金流水",
        "description": "查詢目前使用者資金流水，支援類型、時間範圍與游標分頁。",
        "operationId": "query_fund_flows",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "驗證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/fee/current": {
      "get": {
        "summary": "查詢目前手續費",
        "description": "查詢目前手續費設定。",
        "operationId": "query_current_fee",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "認證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "parameters": [
          {
            "name": "fee_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/event_contracts/transfer": {
      "post": {
        "summary": "事件合約轉帳",
        "description": "在現貨帳戶與事件合約子帳戶之間發起 USDT 劃轉。",
        "operationId": "transfer",
        "responses": {
          "200": {
            "description": "請求成功"
          },
          "400": {
            "description": "請求參數錯誤"
          },
          "401": {
            "description": "驗證失敗"
          },
          "503": {
            "description": "服務暫時不可用"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_account",
                  "to_account",
                  "currency",
                  "amount",
                  "client_oid"
                ],
                "properties": {
                  "from_account": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "sub_spot",
                      "event_contract"
                    ]
                  },
                  "to_account": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "sub_spot",
                      "event_contract"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USDT"
                    ]
                  },
                  "amount": {
                    "type": "string"
                  },
                  "client_oid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
