{
  "openapi": "3.0.3",
  "info": {
    "title": "DexBuilder Prediction Markets API",
    "version": "1.0.0",
    "description": "DexBuilder Prediction Markets REST API."
  },
  "servers": [
    {
      "url": "https://api.dexbuilder.com"
    }
  ],
  "paths": {
    "/api/v4/prediction/events": {
      "get": {
        "summary": "List Events",
        "description": "List Events.",
        "operationId": "query_events",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/events/{event_id}": {
      "get": {
        "summary": "Get Event",
        "description": "Get Event.",
        "operationId": "query_event",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/events/slug/{slug}": {
      "get": {
        "summary": "Get Event by Slug",
        "description": "Get Event by Slug.",
        "operationId": "query_event_by_slug",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/markets": {
      "get": {
        "summary": "List Markets",
        "description": "List Markets.",
        "operationId": "query_markets",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyMarketsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag_slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/markets/{market_id}": {
      "get": {
        "summary": "Get Market",
        "description": "Get Market.",
        "operationId": "query_market",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyMarket"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/markets/slug/{slug}": {
      "get": {
        "summary": "Get Market by Slug",
        "description": "Get Market by Slug.",
        "operationId": "query_market_by_slug",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/markets/{market_id}/trades": {
      "get": {
        "summary": "Get Market Trades",
        "description": "Get Market Trades.",
        "operationId": "query_market_trades",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyTradeList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{token_id}/market": {
      "get": {
        "summary": "Get Market for Token",
        "description": "Get Market for Token.",
        "operationId": "query_token_market",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSummary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{token_id}/price": {
      "get": {
        "summary": "Get Latest Token Price",
        "description": "Get Latest Token Price.",
        "operationId": "query_token_price",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{token_id}/ticker": {
      "get": {
        "summary": "Get Token Ticker",
        "description": "Get Token Ticker.",
        "operationId": "query_token_ticker",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenTickerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{token_id}/order_book": {
      "get": {
        "summary": "Get Order Book",
        "description": "Get Order Book.",
        "operationId": "query_order_book",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyOrderBook"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{token_id}/price_history": {
      "get": {
        "summary": "Get Price History",
        "description": "Get Price History.",
        "operationId": "query_price_history",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPriceHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/prices": {
      "get": {
        "summary": "Get Token Prices",
        "description": "Get Token Prices.",
        "operationId": "query_token_prices",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tokens/{currency}/candlesticks": {
      "get": {
        "summary": "Get Candlesticks",
        "description": "Get Candlesticks.",
        "operationId": "query_candlesticks",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyCandlestickList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/orders": {
      "post": {
        "summary": "Place Order",
        "description": "Place Order.",
        "operationId": "place_order",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token_id",
                  "side"
                ],
                "properties": {
                  "token_id": {
                    "type": "string"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUY",
                      "SELL"
                    ]
                  },
                  "price": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "total_cost": {
                    "type": "string"
                  },
                  "order_type": {
                    "type": "string"
                  },
                  "order_mode": {
                    "type": "string"
                  },
                  "client_order_id": {
                    "type": "string"
                  },
                  "post_only": {
                    "type": "boolean"
                  },
                  "sell_all": {
                    "type": "boolean"
                  },
                  "expire_time": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Orders",
        "description": "List Orders.",
        "operationId": "query_orders",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMarketsOrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "summary": "Cancel Orders by Market Condition",
        "description": "Cancel Orders by Market Condition.",
        "operationId": "cancel_orders_by_condition",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBatchAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/orders/{order_id}": {
      "get": {
        "summary": "Get Order",
        "description": "Get Order.",
        "operationId": "query_order",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Cancel Order",
        "description": "Cancel Order.",
        "operationId": "cancel_order",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/positions": {
      "get": {
        "summary": "List Positions",
        "description": "List Positions.",
        "operationId": "query_positions",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMarketsPositionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settlement_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/positions/{position_id}": {
      "get": {
        "summary": "Get Position",
        "description": "Get Position.",
        "operationId": "query_position",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "position_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/positions/{position_id}/close": {
      "post": {
        "summary": "Close Position",
        "description": "Close Position.",
        "operationId": "close_position",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClosePositionAcceptResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "position_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/usertrades": {
      "get": {
        "summary": "List User Trades",
        "description": "List User Trades.",
        "operationId": "query_user_trades",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMarketsUserTradesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/assets": {
      "get": {
        "summary": "Get Account Assets",
        "description": "Get Account Assets.",
        "operationId": "query_assets",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/prediction/account_book": {
      "get": {
        "summary": "Get Account Book",
        "description": "Get Account Book.",
        "operationId": "query_account_book",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventMarketsAccountBookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/fee": {
      "get": {
        "summary": "Get Trading Fee",
        "description": "Get Trading Fee.",
        "operationId": "query_fee",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fee_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/claims/available": {
      "get": {
        "summary": "List Available Claims",
        "description": "List Available Claims.",
        "operationId": "query_available_claims",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsAvailableResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/prediction/claims/available/{token_id}": {
      "get": {
        "summary": "Get Available Claim for Token",
        "description": "Get Available Claim for Token.",
        "operationId": "query_available_claim",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsAvailableByTokenResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/claims": {
      "post": {
        "summary": "Create Claim",
        "description": "Create Claim.",
        "operationId": "create_claim",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitClaimResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/prediction/claims/{record_id}": {
      "get": {
        "summary": "Get Claim Result",
        "description": "Get Claim Result.",
        "operationId": "query_claim",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimRecordResp"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/tags": {
      "get": {
        "summary": "List Tags",
        "description": "List Tags.",
        "operationId": "query_tags",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v4/prediction/time": {
      "get": {
        "summary": "Get Server Time",
        "description": "Get Server Time.",
        "operationId": "query_server_time",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/prediction/events/price_to_beat_final_price/{slug}": {
      "get": {
        "summary": "Get Event Reference Price",
        "description": "Get the target and final prices for an event window.",
        "operationId": "query_event_reference_price",
        "responses": {
          "200": {
            "description": "Request succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReferencePrice"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found or reference price unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Error response.",
        "properties": {
          "label": {
            "type": "string",
            "example": "INVALID_ARGUMENT"
          },
          "message": {
            "type": "string",
            "example": "invalid request"
          }
        }
      },
      "CurrencyCandlestick": {
        "type": "object",
        "properties": {
          "c": {
            "type": "string"
          },
          "h": {
            "type": "string"
          },
          "l": {
            "type": "string"
          },
          "o": {
            "type": "string"
          },
          "t": {
            "type": "integer"
          },
          "v": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventDetail": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closed_time": {
            "type": "integer"
          },
          "description": {
            "type": "object"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketSummary"
            }
          },
          "markets_has_more": {
            "type": "boolean"
          },
          "resolution_source": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "start_time": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "title": {
            "type": "object"
          },
          "volume": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventSummary": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "closed_time": {
            "type": "integer"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "start_time": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "title": {
            "type": "object"
          },
          "volume": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventsPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "MarketDetail": {
        "type": "object",
        "properties": {
          "accepting_orders": {
            "type": "boolean"
          },
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "condition_id": {
            "type": "string"
          },
          "description": {
            "type": "object"
          },
          "enable_order_book": {
            "type": "boolean"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "limit_buy_min_shares": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "min_order_size": {
            "type": "string"
          },
          "neg_risk": {
            "type": "boolean"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutcomeRef"
            }
          },
          "question": {
            "type": "object"
          },
          "resolution_source": {
            "type": "string"
          },
          "resolved_at": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "tick_size": {
            "type": "string"
          },
          "uma_end_date": {
            "type": "string",
            "x-nullable": true
          },
          "uma_end_date_iso": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_status": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_statuses": {
            "type": "string",
            "x-nullable": true
          },
          "volume": {
            "type": "string"
          },
          "volume_24hr": {
            "type": "string"
          },
          "winning_outcome": {
            "type": "string"
          },
          "winning_token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "MarketSummary": {
        "type": "object",
        "properties": {
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "condition_id": {
            "type": "string"
          },
          "end_date": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "limit_buy_min_shares": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutcomeRef"
            }
          },
          "question": {
            "type": "object"
          },
          "slug": {
            "type": "string"
          },
          "start_date": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "uma_end_date": {
            "type": "string",
            "x-nullable": true
          },
          "uma_end_date_iso": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_status": {
            "type": "string",
            "x-nullable": true
          },
          "uma_resolution_statuses": {
            "type": "string",
            "x-nullable": true
          },
          "volume": {
            "type": "string"
          },
          "volume_24hr": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "OutcomeRef": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "object"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "ServerTimeResponse": {
        "type": "object",
        "properties": {
          "server_time": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "TagSummary": {
        "type": "object",
        "properties": {
          "label": {
            "type": "object"
          },
          "slug": {
            "type": "string"
          },
          "tag_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "TagsPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "TokenBatchPriceItem": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "TokenPriceHistoryResponse": {
        "type": "object",
        "properties": {
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenPricePoint"
            }
          }
        },
        "description": "Response object."
      },
      "TokenPriceResponse": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "TokenPricesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenBatchPriceItem"
            }
          }
        },
        "description": "Response object."
      },
      "TokenTickerResponse": {
        "type": "object",
        "properties": {
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "last_price": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "TokenPricePoint": {
        "type": "object",
        "properties": {
          "p": {
            "type": "string"
          },
          "t": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "AccountBookItem": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "related_order_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "AssetsResp": {
        "type": "object",
        "properties": {
          "daily_pnl": {
            "type": "string"
          },
          "daily_pnl_rate": {
            "type": "string"
          },
          "fund_total": {
            "type": "string"
          },
          "prediction_market_asset": {
            "type": "string"
          },
          "prediction_position_value": {
            "type": "string"
          },
          "spot_usdt_balance": {
            "type": "string"
          },
          "unclaimed_amount": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "CancelBatchAcceptResp": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_orders": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "CancelOrderAcceptResp": {
        "type": "object",
        "properties": {
          "cancel_status": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "ClaimRecordResp": {
        "type": "object",
        "properties": {
          "completed_at": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          },
          "initiated_at": {
            "type": "integer"
          },
          "record_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "success_count": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "ClaimsAvailableByTokenResp": {
        "type": "object",
        "properties": {
          "claimable_amount": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "position_count": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "ClaimsAvailableEvent": {
        "type": "object",
        "properties": {
          "claimable_amount": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "position_count": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "ClaimsAvailableResp": {
        "type": "object",
        "properties": {
          "event_count": {
            "type": "integer"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimsAvailableEvent"
            }
          },
          "total_claimable_amount": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "ClosePositionAcceptResp": {
        "type": "object",
        "properties": {
          "position_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "FeeQueryItem": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "fee_mode": {
            "type": "string"
          },
          "maker_fee_rate": {
            "type": "string"
          },
          "taker_fee_rate": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "FeeResp": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeeQueryItem"
            }
          }
        },
        "description": "Response object."
      },
      "OrderDetailResp": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "error_code": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "expire_time": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "order_mode": {
            "type": "string"
          },
          "order_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "size_left": {
            "type": "string"
          },
          "size_matched": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "OrderListItem": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "error_code": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "expire_time": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "order_mode": {
            "type": "string"
          },
          "order_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "size_left": {
            "type": "string"
          },
          "size_matched": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "PlaceOrderAcceptResp": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "PositionItem": {
        "type": "object",
        "properties": {
          "available_size": {
            "type": "string"
          },
          "avg_open_price": {
            "type": "string"
          },
          "claimable_amount": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "locked_size": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "position_value": {
            "type": "string"
          },
          "settlement_status": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          },
          "won": {
            "type": "boolean"
          }
        },
        "description": "Response object."
      },
      "PositionListItem": {
        "type": "object",
        "properties": {
          "available_size": {
            "type": "string"
          },
          "avg_open_price": {
            "type": "string"
          },
          "claimable_amount": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "locked_size": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "position_value": {
            "type": "string"
          },
          "settlement_status": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "integer"
          },
          "won": {
            "type": "boolean"
          }
        },
        "description": "Response object."
      },
      "SubmitClaimResp": {
        "type": "object",
        "properties": {
          "record_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "UserTradeItem": {
        "type": "object",
        "properties": {
          "client_order_id": {
            "type": "string"
          },
          "condition_id": {
            "type": "string"
          },
          "fee_rate": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "trade_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventMarketsAccountBookResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountBookItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventMarketsOrderListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderListItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventMarketsPositionListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionListItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventMarketsUserTradesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserTradeItem"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "LegacyMarket": {
        "type": "object",
        "properties": {
          "accepting_orders": {
            "type": "boolean"
          },
          "best_ask": {
            "type": "string"
          },
          "best_bid": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "condition_id": {
            "type": "string"
          },
          "enable_order_book": {
            "type": "boolean"
          },
          "end_time": {
            "type": "integer"
          },
          "event_icon_url": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "event_title": {
            "type": "string"
          },
          "last_trade_price": {
            "type": "string"
          },
          "liquidity": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegacyOutcome"
            }
          },
          "slug": {
            "type": "string"
          },
          "start_time": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "tags": {},
          "title": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "LegacyMarketsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegacyMarket"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "description": "Response object."
      },
      "LegacyOrderBook": {
        "type": "object",
        "properties": {
          "asks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegacyPriceSize"
            }
          },
          "bids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegacyPriceSize"
            }
          },
          "condition_id": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "LegacyOutcome": {
        "type": "object",
        "properties": {
          "clob_token_id": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "LegacyPriceSize": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string"
          },
          "size": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "LegacyTrade": {
        "type": "object",
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "market_id": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        },
        "description": "Response object."
      },
      "EventReferencePrice": {
        "type": "object",
        "properties": {
          "final_price": {
            "type": "string"
          },
          "price_to_beat": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_ready",
              "unsupported"
            ]
          }
        },
        "description": "Response object."
      },
      "CurrencyCandlestickList": {
        "type": "array",
        "description": "List response.",
        "items": {
          "$ref": "#/components/schemas/CurrencyCandlestick"
        }
      },
      "LegacyTradeList": {
        "type": "array",
        "description": "List response.",
        "items": {
          "$ref": "#/components/schemas/LegacyTrade"
        }
      }
    }
  }
}
